body{
  background-image: url("./images/DSC01303.jpg");
  background-size: cover;
  width: 100%;
  height: 100%;
}

p{
  color: #777777;
  font-family: "メイリオ", sans-serif;
  font-size: 20px;
}

h1{
  animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

h2{
  color : transparent;
  background: -webkit-linear-gradient(-45deg, rgb(251, 255, 0), rgb(55, 0, 255));
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  font-style: italic;
}

.App {
  text-align: center;
  background: linear-gradient(45deg, rgba(142, 255, 217, 0.7), rgb(66, 179, 255));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(18px + 2vmin);
  font-family: 'Black Ops One', cursive; 
  color: white;
}

.App-header {
  text-align:center;
}

.App-link {
  color: #61dafb;
}

.demo0-block {
  position: absolute;
  width: 50px;
  height: 50px;
  top: 25px;
  border-radius: 100px;
  box-shadow:2px 2px #1a6ea0;
  background: linear-gradient(180deg, #a95dff, rgba(0, 153, 255, 0.925));
  color: white;
  font-family: 'Comic Sans MS';
  font-size: 12px;
  outline: 0;
  text-align: center;
}

.panel{
  background-color: rgba(255, 255, 255, 0.5);
  width: 90%;
  height:85vh;
  margin-top: 75px
}

.panel-title{
  -webkit-transform: translate3d(0, 0, 1px);
  transform: translate3d(0, 0, 1px);
}

.content{
  text-align: left;
  margin: 20px 10%;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}
