body{
  background-image: url("./images/DSC01303.jpg");
  background-size: cover;
}

.App {
  text-align: center;
  background: linear-gradient(45deg, rgba(142, 255, 217, 0.7), rgb(66, 179, 255));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(18px + 2vmin);
  font-family: 'Black Ops One', cursive; 
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
  
}

.App-header {
  text-align:center;
}

.App-link {
  color: #61dafb;
}

.demo0-block {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 50px;
  border-radius: 100px;
  background: linear-gradient(180deg, #a95dff, rgba(0, 153, 255, 0.925));
  color: white;
  font-size: 15px;
  outline: 0;
}

.panel{
  background-color: rgba(255, 255, 255, 0.5);
  width: 80%;
  height: 80vh;
  margin-top: 100px
}

.panel-title{
  -webkit-transform: translate3d(0, 0, 1px);
  transform: translate3d(0, 0, 1px);
  
}

h2{
  color : transparent;
  background: -webkit-linear-gradient(-45deg, rgba(122, 0, 0, 0.7), rgba(255, 44, 107, 0.7));
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 1;
  transition: 1s;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
