.App {
  text-align: center;
  background-image: url("./https___www.pakutaso.com_shared_img_thumb_KAZTP1050194.jpg");
  background-size:contain;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background: linear-gradient(45deg, rgba(142, 255, 217, 0.7), rgb(66, 179, 255));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  font-family: Impact,Charcoal; 
  color: white;
}

.App-link {
  color: #61dafb;
}

  .demo0-block {
    position: absolute;
    width: 60px;
    height: 60px;
    top: 50px;
    border-radius: 100px;
    background: linear-gradient(45deg, rgb(9, 255, 0), rgba(0, 153, 255, 0.925));
    color: white;
    font-size: 15px;
    font-family: Impact,Charcoal; 
    outline: 0;
  }

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
